// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.round {
  border-bottom: solid 1px #CCC;
  padding: 5px 0;
}

.round p {
  margin: 4px 0;
}

.round .admin {
  display: none;
}

.round.hover .admin {
  display: inline;
}

.round.hover {
  background: #F0F0F0
}

.rounds_container {
  margin-top: 20px;
}